.container {
  max-width: 1460px;
  margin: 0 auto;
}

.header {
  position: relative;
  background: #000000;
  height: 780px;
}

.header__list {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__links {
  margin: 0 65px;
}

.header__link {
  margin-right: 64px;
  color: #fff;
  font-weight: 400;
  line-height: 26px;
  font-size: 19px;
}

.header__sign {
  padding: 16px 42px;
  border-radius: 31px;
  background: #292929;
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  font-size: 19px;
  color: #fff;
}

.header__content {
  padding: 109px 134px;
  border-radius: 30px;
  position: absolute;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  margin-bottom: 14.6px;
  font-weight: 700;
  line-height: 67px;
  font-size: 50px;
}

.header__subtitle {
  margin-bottom: 101px;
  font-weight: 400;
  line-height: 51px;
  font-size: 38px;
  color: #8D8D8D;
}

.header__text {
  width: 564px;
  font-weight: 400;
  line-height: 55px;
  font-size: 23px;
}

.header__btn {
  margin-top: 70px;
  padding: 20px 119px;
  border-radius: 16px;
  background: #F36732;
  text-align: center;
  color: #fff;
  font-weight: 600;
  line-height: 32px;
  font-size: 24px;
}

.header__img {
  margin-left: 98px;
}

.about {
  width: 100%;
  padding-top: 457px;
  background: #f8f8f8;
}

.about__wrapper {
  padding: 62px 121px 0 74px;
  background: #ffffff;
  border-radius: 30px;
}

.about__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__img {
  position: absolute;
  top: -130%;
}

.about__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  position: relative;
  font-weight: 600;
  line-height: 159px;
  font-size: 120px;
  color: #f8f8f8;
}

.about__index {
  position: absolute;
  top: 40%;
  left: 30%;
  font-weight: 600;
  line-height: 49px;
  font-size: 32px;
  color: #000;
}

.about__icons {
  margin-left: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__icon {
  margin-top: 33px;
}

.about__bottom {
  margin-top: 80px;
}

.about__text {
  font-weight: 400;
  line-height: 50px;
  font-size: 19px;
  padding-bottom: 74px;
}

.experience {
  padding-top: 123px;
  width: 100%;
  background: #f8f8f8;
}

.experience__wrapper {
  padding: 61px 143px 112px 143px;
  background: #ffffff;
  border-radius: 30px;
}

.experience__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  line-height: 159px;
  font-size: 120px;
  color: #f8f8f8;
}

.experience__index {
  position: absolute;
  bottom: 28%;
  font-weight: 600;
  line-height: 49px;
  font-size: 32px;
  color: #000;
}

.experience__tabs {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience__tab {
  padding: 16px 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-weight: 300;
  line-height: 24px;
  font-size: 18px;
}

.experience__tab:first-child {
  border: 1px solid #000;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.experience__tab:nth-child(2) {
  border: 1px solid #000;
}

.experience__tab:last-child {
  border: 1px solid #000;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.experience__tab:hover {
  background: #000;
  color: #fff;
}

.experience__info {
  margin-top: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience__left {
  margin-right: 78px;
}

.experience__text {
  font-weight: 400;
  line-height: 48px;
  font-size: 20px;
}

.sessions {
  padding-top: 123px;
  width: 100%;
  background: #f8f8f8;
}

.sessions__wrapper {
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sessions__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  line-height: 159px;
  font-size: 120px;
  color: #f1f1f1;
  margin-bottom: 128px;
}

.sessions__index {
  position: absolute;
  bottom: 28%;
  font-weight: 600;
  line-height: 49px;
  font-size: 32px;
  color: #000;
}

.sessions__name {
  width: 1383px;
  padding: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 12px;
  background: #eeeeee;
}

.sessions__name:before {
  content: '';
  position: absolute;
  top: 0;
  left: -2%;
  width: 5px;
  height: 43px;
  border-radius: 10px;
  background: #000;
}

.sessions__number {
  width: 350px;
  padding-left: 28px;
  font-weight: 600;
  line-height: 35px;
  font-size: 26px;
}

.sessions__icon-block {
  margin-right: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sessions__icon {
  margin-right: 7px;
}

.sessions__icon-name {
  font-weight: 300;
  line-height: 26px;
  font-size: 19px;
}

.sessions__info {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sessions__info:before {
  content: '';
  position: absolute;
  top: -24%;
  left: -1.95%;
  width: 3px;
  height: 257px;
  border-radius: 10px;
  background: #eeeeee;
}

.sessions__img {
  margin-left: 28px;
  width: 87px;
  height: 87px;
  border-radius: 10px;
}

.sessions__text {
  margin-left: 237px;
  margin-bottom: 72px;
  padding-right: 128px;
  width: 885px;
  font-weight: 300;
  line-height: 34px;
  font-size: 16px;
}

.masters {
  padding-top: 100px;
  width: 100%;
}

.masters__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.masters__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  line-height: 159px;
  font-size: 120px;
  color: #f1f1f1;
  margin-bottom: 128px;
}

.masters__index {
  position: absolute;
  bottom: 28%;
  font-weight: 600;
  line-height: 49px;
  font-size: 32px;
  color: #000;
}

.masters__item {
  position: relative;
  width: 250px;
  margin-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.masters__photo {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.masters__name {
  margin-top: 28px;
  margin-bottom: 15px;
  font-weight: 600;
  line-height: 35px;
  font-size: 20px;
}

.masters__rank {
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
}

.masters__item:hover .masters__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
}

.masters__hover {
  display: none;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background: black;
  opacity: .7;
  color: #fff;
}

.masters__social {
  margin-bottom: 43px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.masters__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.master__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  line-height: 26px;
  font-size: 15px;
  background: #b4b4b4;
  border-radius: 9px;
  padding: 7px;
}

.masters__icon {
  margin-right: 15px;
}
/*# sourceMappingURL=main.css.map */