.about 
    background: $gray

.about__content 
    padding-top: 285px


.about__top 
    background: #ffffff
    border-radius: 30px
    display: flex
    justify-content: space-between
    align-items: center

.about__top-left 
    

.about__img 

.about__top-right 
    display: flex
    justify-content: space-between
    align-items: center

.about__title 
    position: relative
    font-weight: 600
    line-height: 159px
    font-size: 120px
    color: $gray

.index 
    position: absolute
    top: 40%
    left: 8%
    font-weight: 600
    line-height: 49px
    font-size: 32px
    color: #000

.about__icons 
    display: flex
    flex-direction: column

.about__bottom 
    background: #ffffff
    border-radius: 30px

.about__text 
